<h1>{{userName}}'s Watch List</h1>

{{#each suspects}}
    <p>{{user.name}}</p>
    <a href="/user/{{userId}}">
    </a>
{{/each}}

<form action="/user/{{userId}}/suspects/new" method="get">
        <button type='submit'>Create New Suspect</button>
</form>