<h1></h1>
<h1>{{susPerson.name}} has been up to no good</h1>

<form action="user/{{userId}}/suspects/{{suspectId}}?_method=DELETE" method="POST">
  <button type="submit">Delete Suspect</button>
</form>