<h1>New Comment</h1>
{{!-- {{#each newSuspect}} --}}
<form action='/user/{{userId}}/suspects/{{suspectId}}/comments' method="POST">
    <div>
        <label>Created By: </label>
        <input type='text' name='createdBy'></input>
    </div>
    <div>
        <label>Comment: </label>
        <input type='text' name='content'></input>
    </div>
    <button type='submit'>Submit Comment</button>
</form>
{{!-- {{/each}} --}}