<h1>New Comment</h1>

<form action='/user/{{userId}}/suspects/{{suspectId}}/comments' method="POST">
    <div>
        <input type='text' name='name' placeholder="..."></input>
    </div>
    <button type='submit'>Submit Comment</button>
</form>
