<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AYYYY</title>
</head>

<body>
    <div class="loginHyper">
        <div class='titleText'>
            <h5>
                Don't let suspicious behavior go unreported.
            </h5>
            <h5>Join Suspicion Tracker, and engage with a caring community of users who know the importance of informing the
                masses when coworkers are engaging in suspicious behavior.
            </h5>
            <h5>
                This is a serious site!  No meaningless gossip allowed!
            </h5>
        </div>
        <form class='titleButtons' action="/user" method="GET">

            <a href="/user" class="loginHref">
                <button class="susIndexBtn1 btn" type='submit'>Sign Up</button>
            </a>
            <a href="/user" class="loginHref">
                <button class="susIndexBtn1 btn" type='submit'>Login</button>
            </a>

        </form>
    </div>

    <div class="mainText"></div>
    <div class="middleColumn"></div>
    <div class="bottomRow"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/javascripts/main.js"></script>

</html>