<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AYYYY</title>
</head>

<div>
    <header>
        <div class="loginHyper">
            <form action="/user" method="GET">
                <a href="/user" class="loginHref">Login</a>
            </form>
        </div>
    </header>

    <body>
        <div class="mainText">
        </div>
        <div class="middleColumn"></div>
        <div class="bottomRow"></div>
    </body>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/javascripts/main.js"></script>

</html>