<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AYYYY</title>
</head>

<body class="grid">
    <div class="wrapper">
    <div class="test"></div>
    <div class="topRight">
        <div class="loginHyper">
            <form action="/user" method="GET">
                <a href="/user" class="loginHref">Login</a>
            </form>
        </div>
    </div>
    <div class="topMiddle">
        <h4>{{title}}</h4>
    </div>
    <div class="topLeft"></div>
    <div class="middleLeft"></div>
    <div class="middle "></div>
    <div class="middleRight"></div>
    <div class="bottomLeft"></div>
    <div class="bottomMiddle"></div>
    <div class="bottomRight"></div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>


</html>