<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="wrapper">
  <div class="eyeMain">
    <div>
      <h4>Suspicion Tracker</h4>
    </div>
  </div>
  <div class='colorLeft'></div>
  <div class='colorRight'></div>
  <div class='imagesLeft'>
    <img src="https://i.imgur.com/nNBYxOA.jpg" alt="pic">
    <img src="https://i.imgur.com/rvDD5fj.jpg" alt="pic">
    <img src="https://i.imgur.com/Qu78UE2.png" alt="pic">
    <img src="https://i.imgur.com/K0DaFmv.png" alt="pic">
    <img src="https://i.imgur.com/KpMgUwr.png" alt="pic">
    <img src="https://i.imgur.com/Wswxl4D.png" alt="pic">
    <img src="https://i.imgur.com/XqfViTD.jpg" alt="pic">
    <img src="https://i.imgur.com/m2wGtDT.jpg" alt="pic">
    <img src="https://i.imgur.com/1K8ClJs.png" alt="pic">
    <img src="https://i.imgur.com/ETZljMC.jpg" alt="pic">
    <img src="https://i.imgur.com/YzjyRHD.png" alt="pic">
  </div>
  <div class='imagesRight'>
    <img src="https://i.imgur.com/nNBYxOA.jpg" alt="pic">
    <img src="https://i.imgur.com/rvDD5fj.jpg" alt="pic">
    <img src="https://i.imgur.com/Qu78UE2.png" alt="pic">
    <img src="https://i.imgur.com/K0DaFmv.png" alt="pic">
    <img src="https://i.imgur.com/KpMgUwr.png" alt="pic">
    <img src="https://i.imgur.com/Wswxl4D.png" alt="pic">
    <img src="https://i.imgur.com/XqfViTD.jpg" alt="pic">
    <img src="https://i.imgur.com/m2wGtDT.jpg" alt="pic">
    <img src="https://i.imgur.com/1K8ClJs.png" alt="pic">
    <img src="https://i.imgur.com/ETZljMC.jpg" alt="pic">
    <img src="https://i.imgur.com/YzjyRHD.png" alt="pic">
  </div>
  {{{body}}}
</body>

</html>