<h1>Change Username</h1>

<form action='/user' method="POST">
    <div>
        <label>Username</label>
        <input type='text' placeholder="Username"></input>
    </div>
    <button type='submit'>Save</button>
</form>