<h1>Login</h1>
    <div class="form-input">
        <label for="name">Username</label>
        <input type="text" name="name"/>
    </div>

    <div class="form-input">
        <label for="password">Password</label>
        <input type="text" name="password" />
    </div>
<form action="/user/5b1ea647a2e18e88c343db80/suspects" method="Get">
    <button type='submit'>Submit</button>
</form>