
<h1>{{user.name}}</h1>

<form action="/user/{{user.id}}?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<form action="/user/{{user.id}}?_method=UPDATE" method="GET">
    <button type='submit'>Update</button>
</form>