body {
  background-color: #393E46;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vw;
  height: 100vh;
}

.eyeMain {
  grid-area: 1 / 6 / span 1 / span 5;
  color: #4ecca3;
  text-align: center;
  z-index: 1;
}

.top {
  grid-area: 1 / 1 / span 1 / span 16;
  background-color: #232931;
}

.mid {
  grid-area: 2 / 3 / span 13 / span 11;
  background-color: #232931;
}

.btm {
  grid-area: 15 / 1 / span 1 / span 16;
  background-color: #232931;
}

.mainText {
  grid-area: 1 / 1 / span 1 / span 16;
  text-align: center;
  color: #eeeeee;
  background-color: #232931;
}

.loginHyper {
  justify-self: center;
  z-index: 1;
  grid-area: 6/7/span 3/ span 3;
}

.loginHref {
  color: #4ecca3;
}

.loginPageHead {
  color: #eeeeee;
  grid-area: 2 / 6 / span 2 / span 5;
  text-align: center;
}

.usernameSignin {
  grid-area: 6/ 6/ span 5/ span 5;
}

.passwordSignin {
  grid-area: 7/ 6/ span 5/ span 5;
}

.signinSubmitBtn {
  grid-area: 8 / 8/ span 1 / span 1;
  justify-self: center;
  align-self: center;
}

.susIndexH3 {
  grid-area: 2/6/span 2/span 5;
  text-align: center;
  color: #eeeeee;
}

.susIndexName {
  color: #eeeeee;
  z-index: 1;
}

.susIndexInformation {  
  grid-area: 6/6/span 4/span 3;
}

.susIndexTopBtn {
  grid-area: 4/7/span 1/span 3;
  justify-self: center;
}

.susIndexImg {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 2px dotted #eeeeee;
}

.susIndexInformation .susIndexOffAndLevel {
  grid-area: 7/8/span 4/span 3;
}

.susIndexP1, .susIndexP2 {
  color: #eeeeee;
}

.susIndexBtn1 {
  text-align: right;
}

.susIndexBtn2 {
  text-align: center;
}

.susEditTopText {
  grid-area: 2/6/span 2/span 5;
  text-align: center;
  color: #eeeeee;
}

.susEditInfo {
  grid-area: 5/ 6/ span 5/ span 5; 
  color: #eeeeee;
}

.susShowDeleteBtn {
  justify-self: center;
  align-self: center;
}

.susShowInformation {
  grid-area: 5/6/span 4/span 5;
  color: #eeeeee;
  text-align: center;
}

.susShowImg {
  justify-self: center;
  align-self: center;
}

.susShowComments {
  text-align: center;
}

.susShowCommentContent {
  text-align: left;
}