body {
  background-color: #393E46;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template: 7.5vh 92.5vh / 2.5vw 17.5vw 60vw 17.5vw 2.5vw;
}

.eyeMain {
  color: #4ecca3;
  text-align: center;
  z-index: 1;
  grid-area: 1 / 3 / span 1 / span 1;
}

.eyeMain div h4 {
  font-size: 3em;
}

.imagesLeft img, .imagesRight img {
  height: 7.5vh;
  width: 17.5vw;
}

.colorLeft {
  grid-area: 1 / 2 / span 2 / span 1;
  background-color: #232931;
}

.colorRight {
  grid-area: 1 / 4 / span 2 / span 1;
  background-color: #232931;
}

.imagesLeft {
  grid-area: 2 / 2 / span 1 / span 1;
}

.imagesRight {
  background-color: #232931;
  grid-area: 2 / 4 / span 1 / span 1;
}

.loginHyper img {
  grid-area: 1 / 1 / span 1 / span 1;
}

.loginHyper {
  grid-area: 2 / 3 / span 1 / span 1;
  display: grid;
  grid-template: 50vh 25vh 25vh / 50vw;
  justify-self: center;
  z-index: 1;
}

.titleText h5 {
  color: white;
  text-align: center;
  font-size: 2em;
}

.titleText {
  align-self: end;
}

.mainText {
  text-align: center;
  color: #eeeeee;
}

.titleButtons {
  padding-bottom: 10px;
  text-align: center;
  align-self: center;
  color: #4ecca3;
}

.loginWrapper {
  grid-area: 2 / 3 / span 1 / span 1;
  display: grid;
  grid-template: repeat(8, 1fr) / 50vw;
  justify-self: center;
  z-index: 1;
}

.usernameSignin {
  grid-area: 3 / 1 / span 1 / span 1;
}

.passwordSignin {
  grid-area: 4 / 1 / span 1 / span 1;
}

.signinSubmitBtn {
  grid-area: 5 / 1 / span 1 / span 1;
  justify-self: center;
  align-self: center;
}

.susWrapper {
  grid-area: 2 / 3 / span 1 / span 1;
  display: grid;
  grid-template: 10vh 10vh / 50vw;
  justify-self: center;
  z-index: 1;
}

.susIndexTopBtn {
  grid-area: 2 / 1 / span 1 / span 1;
  text-align: center;
  align-self: center;
}

.susIndexInformation {
  display: flex;
}

.susIndexH3 {
  text-align: center;
  color: #eeeeee;
}

.susIndexName {
  color: #eeeeee;
  z-index: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  margin-left: 1vw;
}

.susIndexImg {
  height: 15vh;
  width: 15vh;
  border-radius: 20%;
  border: 2px dotted #eeeeee;
  grid-area: 1 / 1 / span 2 / span 1;
}

.susIndexOffAndLevel {
  grid-area: 1 / 2 / span 2 / span 1;
  align-self: end;
  margin-left: 1vw;

}

.susIndexP1, .susIndexP2 {
  color: #eeeeee;
}

.susIndexButtons {
  grid-area: 1 / 3 / span 2 / span 1;
}

.susIndexBtn1 {
  padding: 3px;
}

.susEditInfo {
  color: #eeeeee;
}

.susShowDeleteBtn {
}

.susShowInformation {
  color: #eeeeee;
}

.showSusCommentBtn {

}

.showSusPersonWrapper, .newSusPersonWrapper, .newCommentWrapper, .editPersonWrapper {
  grid-area: 2 / 3 / span 1 / span 1;
  display: grid;
  grid-template: repeat(8, 1fr) / 50vw;
  justify-self: center;
  z-index: 1;
}

.showSusPersonTopText, .susEditTopText, .newCommentTopText, .susEditTopText {
  grid-area: 1 / 1 / span 1 / span 1;
  text-align: center;
  color: #eeeeee;
}

.susShowImg {
  justify-self: center;
  align-self: center;
}

.susShowComments {
  text-align: center;
}

.susShowCommentContent {
  text-align: left;
}